@mixin button {
    .btn {
        background: $white-color;
        border-radius: 6px;
        border: 1px solid transparent;
        line-height: 3.125rem;
        padding: 0 26px;
        text-decoration: none;
        text-transform: uppercase;
        color: $pink-color;

        &:hover {
            background: transparent;
            border: 1px solid $white-color;
            color: $white-color;
            transition: all .2s ease;
        }
    }
}

@mixin wrap {
    .wrap {
        max-width: 1110px;
        min-width: 320px;
        margin: 0 auto;
        padding: 0 15px;
    }
}

@mixin flex {
    .flex-sb {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


//Tajam_master_verstkaPractic mixins//

// @mixin button {
//     .link-button{
//         font-weight: $text-medium;
//         font-size: 16px;
//         border: 1px solid $cyan-text-color;
//         border-radius: 2px;
//         color: $cyan-text-color;
//         text-decoration: none;
//         line-height: 40px;
//         padding: 0 20px;
        

//         &:hover {
//             background-color: $cyan-text-color;
//             color: $white-text-color;
//             transition: all .2s ease;
//         }
//     }
   
// }

// @mixin links {
//     a {
//         color: $dark-cyan-text-color;
        
//         &:hover {
//             text-decoration: none;
//             transition: all .2s ease;
//         }
//     }
// }

//Tajam_master_verstkaPractic mixins//




// @mixin paragraphs {
//     p {
//         font-size: $paragraph-size;
//         line-height: 20px;
//         color: #000; 
//         font-style: italic;

//         @include link-style;

//         span {
//             font-weight: bold;
//         }
//     }   
// }

// @mixin link-style {
//     a {
//         text-decoration: none;
//         display: inline-block;
//         color: darkblue;
//         border-bottom: 1px solid red;

//         &:hover {
//             border-color: transparent;
//         }
//     }
// }