$white-color: #fff;
$pink-color: #ED4C5C;

$black-color: #000;
$text-light: 400;
$text-medium: 500;
$text-bold: 700;



//Tajam_master_verstkaPractic variables//

// $text-color: #413d4b;
// $text-font: 'Roboto', sans-serif;
// $text-light: 300;
// $text-medium: 500;
// $text-bold: 700;
// $white-text-color: #fff;
// $cyan-text-color: #00e0d0;
// $dark-cyan-text-color: #00c5b7;
// $form-border-color: #e5e5e5;
// $text-size: 14px;

//Tajam_master_verstkaPractic variables//